body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color {
  width: 25vw;
  height: 6vh;
}

#colorConatiner,
.slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#redContainer,
#greenContainer,
#blueContainer,
input {
  width: 25vw;
  height: 3vh;
}

.slider {
  margin-bottom: 4vh;
}

#redContainer,
#greenContainer,
#blueContainer {
  margin-bottom: 2vh;
}
